* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav > ul {
  display: flex;
  align-items: center;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
  color: #181818;
}
nav > ul li {
  list-style: none;
  margin-right: 50px;
}
nav > ul li a {
  text-decoration: none;
  color: black;
}

.primary-btn {
  padding: 10px 15px;
  background-color: #fd6e0a;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  border: 0;
}

.primary-text {
  color: #fd6e0a;
}
